button {
	position:absolute;
	top:50%; left:50%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4ebf4', endColorstr='#91cae6');
	background: -webkit-gradient(linear, left top, left bottom, from(#c4ebf4), to(#91cae6))
}
button:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddff0', endColorstr='#d5f1f7');
	background: -webkit-gradient(linear, left top, left bottom, from(#bddff0), to(#d5f1f7))
}

button:active {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91cae6', endColorstr='#c4ebf4');
	background: -webkit-gradient(linear, left top, left bottom, from(#91cae6), to(#c4ebf4))
}
