#exoplanetViz {
	width: 1600px;
	margin: auto auto; 
}

.container {
	width: 80%;
}

.jumbotron {
	min-width: 1800px;	
}

#xAxisTitle {
	font-size: 16px;
	font-weight: bold;
}

.axis text {
	font: 10px sans-serif;
	fill: white;
}

.axis path {
	fill: white;
}

.axis line,
.axis circle {
	fill: none;
	stroke: #777;
	stroke-dasharray: 1,4;
}

.axis :last-of-type circle {
	stroke: #333;
	stroke-dasharray: none;
}

.line {
	fill: none;
	stroke: red;
	stroke-width: 1.5px;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
	width: 300px;
}

h1 {
	font: 20px;
	text-align: center;
}

dt { 
	display:block;
	float:left;
	width:200px;
	text-align: right;
}

dt:after{
	content: ":";
	padding-right: 1em;
}
dd { 
	display:block;
}

table, th, td {
	border: 1px solid black;
}

.legendTitle {
	fill: white;
	font: 16px sans-serif;
	font-weight: bold;
}

.label {
	fill: white;
}

