@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

@import "_variables.scss";
@import "_navbar.scss";
@import "_jumbotron.scss";
@import "_footer.scss";

@import "_skillChart.scss";

body {
	position: relative;
	padding-top: 40px;
	background-color: $offwhite;
	color: $gray;

	div.heading {
		text-align: center;
	}
	
	.row {
		display: flex;
		align-items: center;
	}

	hr {
		border-color: $red;
	}

	a {
		color: $red;

		&:hover {
			color: $red;
	
		}
	}
}



