@import "variables.scss";

.footer {
	background-color: $gray;
	color: $offwhite;
	margin-top: 2.5%;
	padding: 3% 0% 3% 0%;

	a {
		color: $offwhite;
		text-decoration: underline;
	}

	.contactGlyph {
		font-size: 1.25em;
		text-align: center;
	}
}
