@import "_variables.css";

@import "_skillChart.css";
@import "_exoplanetViz.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
	padding: 0;
  margin: 0;
	background-color: $content-primary;
	color: $content-tertiary;
  font-family: helvetica, sans-serif;

	div.heading {
		text-align: center;
	}
	
	hr {
    width: 60vw;
    border: 0;
    border-top: 1px solid $content-secondary;
	}

	a {
		color: $content-secondary;

		&:hover {
			color: $content-secondary;
	
		}
	}
	
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: $content-tertiary;
    color: $content-primary;
  }

	.container-exoplanets {
		width: 1750px;
	}
  
  .navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    background-color: $content-tertiary;
    color: $content-secondary;

    &-header {
      padding-left: 1em;
    }

    &-sections {
     display: flex;
     align-items: center;
     margin: 0;
     height: 2em;
      
      li {
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;
        
        a {
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 1em;
          text-decoration: none;
          transition: all .2s linear;

          &:hover {
            background-color: $content-secondary;
            color: $content-tertiary;
          }
        }
      }
    }
  }

  section {
    width: 60vw;
  }

  #summary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    background-color: $content-tertiary;
    color: $content-secondary;
    border-radius: 5px;

    .profile-pic-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5em 0;

      img {
        width: 40%;
        border: solid 2px $content-primary;
        border-radius: 5px;
      }
    }
  }

  .resume-section {
    display: flex;
    align-items: center;

    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      padding: 0 2em;

      .icon {
        font-size: 7em;

        &.about-icon:before {
          content: '\f007';
        } 

        &.experience-icon:before {
          content: '\f0b1';
        } 

        &.education-icon:before {
          content: '\f19d';
        } 

        &.skills-icon:before {
          content: '\f0ad';
        } 
      }

      h2 {
        text-align: center;
      }
    }

    &-body {
      flex: 2;
    }
  }

  .contact {
    display: flex;
    
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20%;
      padding: 0 2em;
    }

    .header-icon {
        font-size: 7em;

        &.icon-contact:before {
          content: '\f2bb';
        }
      }

    &-body {
      display: flex;
      flex-direction: column;
      width: 60vw;
      flex: 2;

      a {
        color: $content-primary;

        &:hover {
          color: $content-secondary;
        }

      }

      .contact-item {
        display: flex;
        align-items: center;

        span {
          padding-right: 1em;
          font-size: 2em;
        }
        
        .icon-telephone:before {
          content: '\f095';
        }

        .icon-email:before {
          content: '\f0e0';
        }

        .icon-linkedin:before {
          content: '\f0e1';
        }

        .icon-github:before {
          content: '\f09b';
        }
      }
    }
  }
}

